<% layout("/layouts/boilerplate.ejs") %>
<body>
    
    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <h3>Create new Listing</h3>
            <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" placeholder="Enter Title" name="listing[title]" class="form-control" required>
                    <div class="invalid-feedback">Please Enter valid Title</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" cols="15" rows="5" placeholder="Enter Description" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please Enter valid Description</div> 
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image</label>
                    <input type="file" placeholder="Upload Image" name="listing[image]" class="form-control">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price (in rupee)</label>
                        <input type="" placeholder="ex: 1200" name="listing[price]" class="form-control" required>
                        <div class="invalid-feedback">Please Enter valid Price</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" placeholder="ex: India" name="listing[country]" class="form-control" required>
                        <div class="invalid-feedback">Please Enter valid Country</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" placeholder="ex: Pune, Maharashtra" name="listing[location]" class="form-control" required>
                    <div class="invalid-feedback">Please Enter valid Location</div>
                </div>
                <button class="btn btn-dark mb-3">Add Listing</button>
            </form>
        </div>
    </div>
</body>