<% layout("/layouts/boilerplate.ejs") %>

<div class="row mt-3">
    <div class="col-6 offset-3">
        <h3 class="text-dark offset-3">Log-In</h3>
        <form action="/login" method="post" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <button class="btn btn-outline-success btn-md mt-3 offset-5">Login</button>
        </form>
    </div>
</div>